<!-- movies_list.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete List</title>
    <link rel="stylesheet" href="{% static 'css/movies_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>Delete List</h1>
        <h1>CLICK ON MOVIE TO DELETE</h1> 
        <div class="movies">
            
            {% for movie in movies %}
                <div class="movie-card">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.moviename }} Poster" width="300" height="200">
                    <a href="{{movie.id}}/">   <h2>{{ movie.moviename }}</h2>
                    <p>{{ movie.direcname }}</p>
                    <p>Release Year: {{ movie.year }}</p>
                   
                </a>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
